<!doctype html>
<html lang="en">
<head>

    {% load static %}
    {% load crispy_forms_tags %}
   
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Con MovieApp podés guardar las series y peliculas que viste para recomendarlas.">
    <title>Movie App- Carga peliculas favoritas.</title>
    <!--Iconos  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--Fuentes de Google   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <!--CDN de purecss.io y bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
   
    <!--estilos propios   -->
    <link href="{%static '/movie_app/css/styles.css' %}" rel="stylesheet" />

</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed d-flex flex-wrap justify-content-center">
        <a class="pure-menu-heading" href="">Movie <span style="color:rgb(161, 19, 0); font-family: 'Fjalla One', sans-serif; font-weight: bold; font-size: 20px;">App</span> </a>

        <ul class="pure-menu-list">
            
            <li class="pure-menu-item"><a href="https://matibulich.github.io/aboutme/" class="pure-menu-link">Sobre Mi</a></li>
            {% block salir %}   {% endblock %}
            {% block portal %}    <li class="pure-menu-item"><a  href= "{% url 'portal' %}" class="pure-menu-link">Portal</a></li>{% endblock %} 
           
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Movie <span style="color:rgb(161, 19, 0) ">App</span></h1>
        <p class="splash-subhead">
           Guardá las peliculas que viste y recomendalas a tus amigos!
        </p>
        {% block botones_inicio %}
        <div class="botones_inicio">
            <a href= "{% url 'login' %}"  class="pure-button pure-button-primary">  Ingresar  </a>
            <a href= "{% url 'registro' %}"  class="pure-button pure-button-primary">Registrate</a>
        </div>
      
    {% endblock %}
    </div>
</div>

<div class="content-wrapper">
    {% block contenidoQueCambia %}




    {% endblock %}

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                

                
                <h2 style="text-align: center">Redes Sociales</h2>
                
                <div class="redes_sociales">
               <ul>
                    <i style="font-size: 5em;" class="uil uil-facebook" ></i>
                    <i style="font-size: 5em;" class="uil uil-instagram-alt"></i>
                    <i style="font-size: 5em;" class="uil uil-whatsapp-alt"></i>
                    <i style="font-size: 5em;" class="uil uil-twitter"></i>
          
                </ul>
            </div>
            </div>
       

   

    <div class="footer l-box is-center">
      MOVIE APP ® --- Desarrollado por Matías Bulich --- 2022 
    </div>
</div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% block javascript %}
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                "title":"Felicitaciones",
                "text": "{{m}}",
                "icon": "success"
               })
            </script>
    {% endfor %}
{% endif %}

{% endblock %}

</body>
