{% extends "movie_app/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block botones_inicio %}
<div class="botones_inicio">
    <a href= "{% url 'inicio' %}"  class="pure-button pure-button-primary">  Volver  </a>
    
</div>

{% endblock %}


{% block contenidoQueCambia %}


<div class="content">
    <h2 class="content-head is-center">Registrate</h2>

       <form class="container" action="" method="POST">{% csrf_token %}

                
   
            {{ form | crispy }}
       
<br>
        <button class="btn btn-primary" type="submit"> Registrarme</button>

    </form>
    </div>
{% endblock %}